
<div>

  <h3 class="border ps-2 w-25 m-2 p-4 border-dark"> <%= @user.name %> </h3> <br>
     
      <% @user.recent_posts.each do |post| %>

       <div>
       <div class="border h-50 w-50 p-2 m-2 border-dark">
        <%= post.title %> <br>
        <%= post.text %>  
        </div> 
        <div class="border h-50 w-50 p-2 m-2 border-primary">
            <% post.recent_comments.each do |comment| %>
              <p><%= comment.author.name %>
              <%= comment.text %></p>
              <% end %>
        </div> <br>
       </div>
      <% end %>
<div>